.strip {
    margin: 20px 0;
  }
  
  .strip h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .thumbnail-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 -10px;
    padding: 10px 0;
  }
  
  .thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: #eee;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .thumbnail:hover {
    cursor: pointer;
    background-color: #ddd;
  }
  
  .thumbnail:hover::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #09f;
    border-radius: 10px;
  }

/* Style for the vertical navbar */
.navbar-vertical {
  list-style: none;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  margin-left: 0;
  padding-left: 0;
}

/* Style for the tabs in the vertical navbar */
.navbar-vertical .nav-link {
  display: block; /* Display the links as block elements */
  padding: 8px; /* Add some padding */
  border-bottom: 1px solid #ccc; /* Add a bottom border */
  text-align: center; /* Center the text */
}

/* Style for the selected tab */
.navbar-vertical .nav-link.active {
  background-color: #007bff !important; /* Add a background color */
  color: #fff !important; /* Change the text color */
}

.achievement-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.achievement-item {
  width: 150px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc; /* Add a border */
  font-size: 5ems;
}
  
.modal-dialog {
  max-width: 80vw;
}

.modal-lg {
  max-width: 80vw !important;
}